*{
  box-sizing: border-box;
  margin:0;
  color:white;
}

.pages{
  display:none;
}

.channel-container img{
 width: 200px;
}

.channel-container{
  display:grid;
  place-items:center;
  padding:5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.channel-container p{
  text-align:center;
  max-width: 20vw;
}

.channel-container button {
  font-size: 50px;
  background-color: black;
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the button */
  cursor: pointer; /* Pointer cursor on hover */
}

:target{
  display:block;
}

body{
  background-color:#222831;
}

.header-container{
  display:flex;
  place-items:center;
  padding:3%;
  margin:auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-container nav{
  font-size:2rem;
  margin-left:5%;
}

.header-container a{
  color:#ffffff;
  text-decoration: none;
}

.footer-container{
  display:grid;
  place-items:center;
  width:100%;
  text-align:center;
  height:20vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-container ul {
  list-style: none; /* Remove bullet points */
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: center; /* Center items horizontally */
  gap: 2rem; /* Space between items */
}


/* Footer links */
.footer-container a {
  color: #fff; /* White link color */
  text-decoration: none; /* Remove underline */
  font-size: 1.5rem; /* Font size */
}